@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    color: black;
    font-family: 'poppins', sans-serif;
    height: 25vh;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
}

.logo {
    padding-left: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


nav ul li a:hover {
    color: #6166d3;
    font-size: 1rem;
}

.left {
    font-size: 1.5rem;
    padding-left: 15px;
    color: aliceblue;
}

.right {
    padding-left: 230px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.buttons {
    padding: 35px 0;
}

.btn {
    padding: 13px;
    background: #6166d3;
    color: white;
    border: 0px solid white;
    border-radius: 30px;
    font-size: 19px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(153, 153, 226);
}

.rightsection img {
    width: 400px;
    margin: -100px -60px -60px -60px;
}

.purple {
    color: rgb(37, 35, 120);
}

#element {
    color: rgb(170, 170, 228);
}

main hr {
    border: 0;
    background-color: black;
    height: 1.2px;
    margin: 40px 84px;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 55vh;
}

.text-gray {
    color: rgb(83, 83, 83);
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background-color: black;
    width: 80vw;
    height: 2px;
    margin: 75px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: black;
    margin: 0 100px;
}

.image-top {
    width: 30px;
    position: relative;
    top: -34px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 18px;
}

.vertical-duration {
    font-size: 0.80rem;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

footer {
    background-color: #000e1a;
    height: 319px;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: center;

}

.footfirst-text {
    font-family: 'diphylleia', 'serif';
    font-size: 1.5rem;
    color: rgb(173, 173, 173);
    font-weight: bold;
}

.footfirst-text:hover {
    font-size: 2rem;
}

.footsecond-text:hover {
    font-size: 3rem;
}

.footsecond-text {
    font-family: 'diphylleia', 'serif';
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

.foot-hr {
    border: 0;
    background-color: #bfbfc2;
    height: 1.2px;
    width: 110px;
    margin-left: 450px;

}

.footer-second {
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 5px 10px 5px;
}

.footer-third {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

.footer-icon {
    padding-left: 430px;
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.footer-icon img {
    width: 35px;
    padding: 0 10px;
}

.footer-icon img:hover {
    width: 50px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: rgb(153, 153, 226);
    font-size: 1.2rem;
}

.footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.footer-rights p:hover{
    font-size: 20px;
    color: coral;
}


/* @media (max-width:1000px) {
    .logo img {
        width: 20px;
    }

    .left {
        padding-left: 8px;
        font-size: 20px;
        width: 117px;
    }

    nav {
        max-width: fit-content;
        ;
    }

    

    .right {
        padding-left: 0px;

    }

    .firstSection {
        margin: 10px 0px 0px 5px;
        display: block;
        width: 22%;
    }

    .secondsection {
        height: 45vh;
        width: 180px;
        margin-left: 10px;
    }

    .secondsection .vertical {
        margin: 0px 15px;
    }

    .vertical-title {
        font-size: 13px;
        top: 0px;
        margin: 10px;
    }

    .rightsection {
        display: none;
    }

    .leftSection {
        font-size: 1.5rem;
        width: 90%;
        margin-left: 10px;
    }

    .secondsection h1 {
        font-size: 1.5rem;
    }

    .secondsection .box {
        display: block;
        width: 22vw;
        margin-top: 20px;
    }

    .btn {
        padding: 8px;
        font-size: 10px;
    }

    main hr {
        margin: 10px 10px 45px 10px;
        width: 160px;
    }

    .firstSection>div {
        width: 100%;
    }
footer{
    height: 400px;
}
    .footer {
        padding: 25px 40px;
        justify-content:flex-start;
        max-width: fit-content;
    }

    .foot-hr {
        margin-left: 45px;
    }

    .footer-second {
        justify-content:flex-start;
        padding: 20px 0 10px 23px;
    }


    .footer-icon {
        padding-left: 25px;
        width: 14%;
        font-size: 1rem;
        justify-content: flex-start;

    }
    .footer-rights{
        width: 185px;
    }
    .footer-icon img {
        width: 15px;
        padding: 0 6px;
    }
} */